apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: pihole-test
  name: pihole-test
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: pihole-test
  strategy:
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 50%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: pihole-test
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app: pihole-test
              topologyKey: kubernetes.io/hostname
      nodeSelector:
        node-role.kubernetes.io/dns: dns
      containers:
      - name: pihole
        image: pihole/pihole:2025.10.3
        env:
        - name: FTLCONF_dns_upstreams
          valueFrom:
            configMapKeyRef:
              name: pihole-config
              key: dns.upstreams
        - name: FTLCONF_dns_dnssec
          valueFrom:
            configMapKeyRef:
              name: pihole-config
              key: dns.dnssec
        - name: FTLCONF_dns_listeningMode
          valueFrom:
            configMapKeyRef:
              name: pihole-config
              key: dns.listeningMode
        - name: FTLCONF_webserver_domain
          valueFrom:
            configMapKeyRef:
              name: pihole-config
              key: webserver.domain
        - name: FTLCONF_webserver_api_password
          valueFrom:
            secretKeyRef:
              name: pihole-admin
              key: password
        ports:
        - containerPort: 80
          name: http
          protocol: TCP
        - containerPort: 53
          name: dns-tcp
          protocol: TCP
        - containerPort: 53
          name: dns-udp
          protocol: UDP
        startupProbe:
          httpGet:
            path: /api/info/login
            port: http
          failureThreshold: 30
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /api/info/login
            port: http
          failureThreshold: 2
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        livenessProbe:
          httpGet:
            path: /api/info/login
            port: http
          failureThreshold: 2
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        volumeMounts:
        - mountPath: /etc/pihole
          name: config
        - mountPath: /tmp
          name: temp
      dnsConfig:
        nameservers:
        - 127.0.0.1
        - 1.1.1.1
        - 2606:4700:4700::1111
      dnsPolicy: None
      volumes:
      - name: config
        emptyDir:
      - name: temp
        emptyDir:
          sizeLimit: 100Mi
          medium: Memory
