apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: pihole
  name: pihole
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: pihole
  strategy:
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 50%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: pihole
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app: pihole
              topologyKey: kubernetes.io/hostname
      nodeSelector:
        node-role.kubernetes.io/dns: dns

      containers:
      - name: pihole
        image: pihole/pihole:2025.11.0
        env:
        - name: TZ
          value: Asia/Tokyo
        - name: VIRTUAL_HOST
          value: dns.dekiru.tech
        - name: FTLCONF_dns_upstreams
          value: 127.0.0.1#5335
          # adguard, cloudflare
          # value: "94.140.14.14;94.140.15.15;2a10:50c0::ad1:ff;2a10:50c0::ad2:ff;1.1.1.1;1.0.0.1;2606:4700:4700::1111;2606:4700:4700::1001"
        - name: FTLCONF_dns_dnssec
          value: "true"
        - name: FTLCONF_dns_listeningMode
          value: ALL
        - name: FTLCONF_webserver_api_password
          valueFrom:
            secretKeyRef:
              name: pihole-admin
              key: password
        ports:
        - containerPort: 80
          name: http
          protocol: TCP
        - containerPort: 53
          name: dns-tcp
          protocol: TCP
        - containerPort: 53
          name: dns-udp
          protocol: UDP
        startupProbe:
          httpGet:
            path: /api/info/login
            port: http
          failureThreshold: 30
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /api/info/login
            port: http
          failureThreshold: 2
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        livenessProbe:
          httpGet:
            path: /api/info/login
            port: http
          failureThreshold: 2
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        volumeMounts:
        - mountPath: /etc/pihole
          name: pihole-config
        - mountPath: /tmp
          name: temp

      - name: unbound
        image: madnuttah/unbound:1.24.1-0
        env:
        - name: TZ
          value: Asia/Tokyo
        volumeMounts:
        - name: unbound-config
          mountPath: /usr/local/unbound/conf.d
        ports:
        - containerPort: 5335
          name: dns-tcp
          protocol: TCP
        - containerPort: 5335
          name: dns-udp
          protocol: UDP
        startupProbe:
          exec:
            command: ["/bin/sh", "-c", "/usr/local/unbound/sbin/healthcheck.sh"]
          failureThreshold: 30
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        readinessProbe:
          exec:
            command: ["/bin/sh", "-c", "/usr/local/unbound/sbin/healthcheck.sh"]
          failureThreshold: 2
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        livenessProbe:
          exec:
            command: ["/bin/sh", "-c", "/usr/local/unbound/sbin/healthcheck.sh"]
          failureThreshold: 2
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5

      dnsConfig:
        nameservers:
        - 127.0.0.1
        - 1.1.1.1
        - 2606:4700:4700::1111
      dnsPolicy: None
      volumes:
      - name: pihole-config
        emptyDir:
      - name: temp
        emptyDir:
          sizeLimit: 100Mi
          medium: Memory
      - name: unbound-config
        configMap:
          name: unbound
