apiVersion: v1
kind: Service
metadata:
  name: pihole-web
  labels:
    app: pihole
spec:
  type: ClusterIP
  ipFamilyPolicy: PreferDualStack
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: pihole

---

apiVersion: v1
kind: Service
metadata:
  name: pihole-dns
  labels:
    app: pihole
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  ports:
  - port: 53543
    targetPort: dns-tcp
    protocol: TCP
    name: dns-tcp
  - port: 53543
    targetPort: dns-udp
    protocol: UDP
    name: dns-udp
  selector:
    app: pihole
